.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.loginContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
  width: 500px;
  gap: 10px;
  padding: 0px 40px;
  box-shadow: 10px 10px 15px -5px #777777;
  border-radius: 10px;
}

.loginContainer h1 {
  margin: 0px;
  text-align: center;
}

.loginContainer input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0px 4px;
}

.loginButton {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(130, 130, 255);
  border: none;
  box-shadow: 10px 10px 15px -5px #777777;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}

.loginButton:hover {
  transform: translateY(5px);
  box-shadow: none;
  background-color: rgb(79, 79, 167);
}
